.ol-control:hover {
  background-color: unset;
}

.ol-control:focus {
  outline: unset !important;
}

.ol-full-screen {
  right: unset;
  left: 0.5em;
  top: 5.5em;
  background-color: unset;
}

.ol-full-screen button {
  height: 1.2em !important;
  width: 1.2em !important;
  font-size: 1.5em !important;
  cursor: pointer;
  margin: 0px !important;
  background-color: #fff !important;
  color: #2d3c4d !important;
  border: solid 1px #ccc !important;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  border-radius: 0 0 2px 2px;
}

.ol-full-screen button:hover {
  background-color: #eee !important;
}
