#server-bottom, #server-middle, #server-top, #client-computer{
    opacity: 0;
}
#text-cursor,#letter-m, #letter-a,#letter-g,#letter-i,#letter-c{
    display: none;
}
#word-send{
    opacity: 0;
}
#p1,#p2,#p3,#p4,#p5,#p6,#p7,#p8,#p9,#p10,#p11,#p12,#p13,#p14,#p15,#p16,#p17,#p18,#p19,#p20,#p21,#p22,#p23{
    opacity: 0;
}
body{
    background-color: black;
}
.container{
    background: #1C6EA4;
background: -moz-linear-gradient(-45deg, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
background: -webkit-linear-gradient(-45deg, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
background: linear-gradient(135deg, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
display: flex;
justify-content: center;
padding: 15px;
}
.container>svg{
   height: 480px;
   width: 480px;
}
